USE AirCraftsDBValue62
GO

DECLARE @begindate DATE, @enddate DATE
-- Даем диапазон дат для стирания
SET @begindate = '2013-06-01'  -- охватывает
SET @enddate = '2014-07-01'  -- не охватывает

-- Структура --

-- Смотрим указанный период
SET Transaction Isolation Level Read Committed
SELECT	*
	FROM dbo.GetAirFlightsByRoutesBetweenTwoDates (@begindate, @enddate) AS func1
		ORDER BY AirCraftRegistration

-- Удаляем то, что нужно стереть
SET Transaction Isolation Level Repeatable Read
UPDATE AirCraftsTableNew2XsdIntermediate SET FlightsByRoutes.modify('delete /FlightsByRoutes/Flight/Route/step[@FlightDate >= sql:variable("@begindate") and @FlightDate < sql:variable("@enddate")]')
	WHERE FlightsByRoutes IS NOT NULL

-- Смотрим еще раз
SET Transaction Isolation Level Read Committed
SELECT	*
	FROM dbo.GetAirFlightsByRoutesBetweenTwoDates (@begindate, @enddate) AS func1
		ORDER BY AirCraftRegistration

-- Таблица --

-- Смотрим указанный период
SET Transaction Isolation Level Read Committed
SELECT *
	FROM dbo.GetAirFlightsBetweenTwoDates (@begindate, @enddate) AS func2
		ORDER BY FlightDate, AirCraftRegistration, FlightNumberString

-- Удаляем то, что нужно стереть
SET Transaction Isolation Level Serializable
DELETE FROM AirFlightsTable
	WHERE FlightDate >= @begindate AND FlightDate < @enddate  -- Загружает tempdb

-- Смотрим еще раз
SET Transaction Isolation Level Read Committed
SELECT *
	FROM dbo.GetAirFlightsBetweenTwoDates (@begindate, @enddate) AS func2
		ORDER BY FlightDate, AirCraftRegistration, FlightNumberString

-- Время выполнения 13.25 часа
