USE AirCraftsDBValue62
GO

DECLARE @begindate DATE, @enddate DATE
-- Даем диапазон дат для стирания
SET @begindate = '2013-06-01'  -- охватывает
SET @enddate = '2013-07-01'  -- не охватывает

-- Структура --

-- Смотрим указанный период
SET Transaction Isolation Level Read Committed
SELECT	AirCraftRegistration,
		FlightsByRoutes.query('for $flights in /FlightsByRoutes/Flight where $flights/Route/step/@FlightDate >= sql:variable("@begindate") and $flights/Route/step/@FlightDate < sql:variable("@enddate") return $flights') AS FlightsWithFailDateBefore
	FROM AirCraftsTableNew2XsdIntermediate
		INNER JOIN AirCraftModelsTable ON AirCraftsTableNew2XsdIntermediate.AirCraftModel = AirCraftModelsTable.AirCraftModelUniqueNumber
		INNER JOIN AirCraftManufacturersTable ON AirCraftModelsTable.Manufacturer = AirCraftManufacturersTable.AirCraftManufacturerUniqueNumber
		WHERE FlightsByRoutes.exist('/FlightsByRoutes/Flight/Route/step[@FlightDate >= sql:variable("@begindate") and @FlightDate < sql:variable("@enddate")]') = 1
			ORDER BY AirCraftRegistration

-- Удаляем то, что нужно стереть
SET Transaction Isolation Level Repeatable Read
UPDATE AirCraftsTableNew2XsdIntermediate SET FlightsByRoutes.modify('delete /FlightsByRoutes/Flight/Route/step[@FlightDate >= sql:variable("@begindate") and @FlightDate < sql:variable("@enddate")]')
	WHERE FlightsByRoutes IS NOT NULL

-- Смотрим еще раз
SET Transaction Isolation Level Read Committed
SELECT	AirCraftRegistration,
		FlightsByRoutes.query('for $flights in /FlightsByRoutes/Flight where $flights/Route/step/@FlightDate >= sql:variable("@begindate") and $flights/Route/step/@FlightDate < sql:variable("@enddate") return $flights') AS FlightsWithFailDateAfter
	FROM AirCraftsTableNew2XsdIntermediate
		INNER JOIN AirCraftModelsTable ON AirCraftsTableNew2XsdIntermediate.AirCraftModel = AirCraftModelsTable.AirCraftModelUniqueNumber
		INNER JOIN AirCraftManufacturersTable ON AirCraftModelsTable.Manufacturer = AirCraftManufacturersTable.AirCraftManufacturerUniqueNumber
		WHERE FlightsByRoutes.exist('/FlightsByRoutes/Flight/Route/step[@FlightDate >= sql:variable("@begindate") and @FlightDate < sql:variable("@enddate")]') = 1
			ORDER BY AirCraftRegistration

-- Таблица --

-- Смотрим указанный период
SET Transaction Isolation Level Read Committed
SELECT AirRoute, AirCraftRegistration, FlightNumberString, QuantityCounted, FlightDate, BeginDate, LoadDate 
  FROM	AirFlightsTable
		INNER JOIN AirCraftsTableNew2XsdIntermediate ON AirFlightsTable.AirCraft = AirCraftsTableNew2XsdIntermediate.AirCraftUniqueNumber
	WHERE FlightDate >= @begindate AND FlightDate < @enddate
		ORDER BY FlightDate, AirCraftRegistration, FlightNumberString

-- Количество строк, которое нужно стереть
SELECT COUNT(*) AS LINESCOUNT
  FROM AirFlightsTable
	WHERE FlightDate >= @begindate AND FlightDate < @enddate

-- Удаляем то, что нужно стереть
SET Transaction Isolation Level Serializable
DELETE FROM AirFlightsTable
	WHERE FlightDate >= @begindate AND FlightDate < @enddate  -- Загружает tempdb

-- Смотрим еще раз
SET Transaction Isolation Level Read Committed
SELECT AirRoute, AirCraftRegistration, FlightNumberString, QuantityCounted, FlightDate, BeginDate, LoadDate 
  FROM	AirFlightsTable
		INNER JOIN AirCraftsTableNew2XsdIntermediate ON AirFlightsTable.AirCraft = AirCraftsTableNew2XsdIntermediate.AirCraftUniqueNumber
	WHERE FlightDate >= @begindate AND FlightDate < @enddate
		ORDER BY FlightDate, AirCraftRegistration, FlightNumberString

-- Время выполнения 12.5 часа
