USE AirCraftsDBValue62
GO

DECLARE @begindate DATE, @enddate DATE
-- Даем диапазон дат для стирания
SET @begindate = '2010-07-01'
SET @enddate = '2027-01-01'

-- Смотрим то, что нужно стереть
SET Transaction Isolation Level Read Committed
SELECT AirRoute, AirCraftRegistration, FlightNumberString, QuantityCounted, FlightDate, BeginDate, LoadDate 
  FROM	AirFlightsTable
		INNER JOIN AirCraftsTableNew2XsdIntermediate ON AirFlightsTable.AirCraft = AirCraftsTableNew2XsdIntermediate.AirCraftUniqueNumber
	WHERE FlightDate >= @begindate AND FlightDate < @enddate
		ORDER BY FlightDate, AirCraftRegistration, FlightNumberString

-- Количество строк, которое нужно стереть
SELECT COUNT(*) AS LINESCOUNT
  FROM AirFlightsTable
	WHERE FlightDate >= @begindate AND FlightDate < @enddate

-- Удаляем то, что нужно стереть
SET Transaction Isolation Level Serializable
DELETE FROM AirFlightsTable
	WHERE FlightDate >= @begindate AND FlightDate < @enddate  -- Загружает tempdb

-- Смотрим не осталось ли что-то не стертое
SET Transaction Isolation Level Read Committed
SELECT AirRoute, AirCraftRegistration, FlightNumberString, QuantityCounted, FlightDate, BeginDate, LoadDate 
  FROM	AirFlightsTable
		INNER JOIN AirCraftsTableNew2XsdIntermediate ON AirFlightsTable.AirCraft = AirCraftsTableNew2XsdIntermediate.AirCraftUniqueNumber
	WHERE FlightDate >= @begindate AND FlightDate < @enddate
		ORDER BY FlightDate, AirCraftRegistration, FlightNumberString
