[submodule "ExternalRepos\\Saxonica\\EXPath-Task-XSLT"]
	path = ExternalRepos\\Saxonica\\EXPath-Task-XSLT
	url = https://github.com/Saxonica/EXPath-Task-XSLT
[submodule "ExternalRepos\\Saxonica\\Saxon-Forms"]
	path = ExternalRepos\\Saxonica\\Saxon-Forms
	url = https://github.com/Saxonica/Saxon-Forms
[submodule "ExternalRepos\\XProc\\3.0-specification"]
	path = ExternalRepos\\XProc\\3.0-specification
	url = https://github.com/xproc/3.0-specification
[submodule "ExternalRepos\\XProc\\3.0-test-suite"]
	path = ExternalRepos\\XProc\\3.0-test-suite
	url = https://github.com/xproc/3.0-test-suite
[submodule "ExternalRepos\\TranSpect\\Control"]
	path = ExternalRepos\\TranSpect\\Control
	url = https://github.com/transpect/control
[submodule "ExternalRepos\\NicGibson\\XProc-tools"]
	path = ExternalRepos\\NicGibson\\XProc-tools
	url = https://github.com/nic-gibson/xproc-tools
[submodule "ExternalRepos\\EXPath\\xspec"]
	path = ExternalRepos\\EXPath\\xspec
	url = https://github.com/expath/xspec
[submodule "ExternalRepos\\EXPath\\tools-saxon"]
	path = ExternalRepos\\EXPath\\tools-saxon
	url = https://github.com/expath/tools-saxon
[submodule "ExternalRepos\\EXPath\\expath-tools-saxon"]
	path = ExternalRepos\\EXPath\\expath-tools-saxon
	url = https://github.com/expath/expath-tools-saxon
[submodule "ExternalRepos\\MarkLogic\\Python-API"]
	path = ExternalRepos\\MarkLogic\\Python-API
	url = https://github.com/marklogic/python_api
