# см. статью https://ru.wikipedia.org/wiki/.ini

[Servers]
# имена серверов СУБД (имя/инстанс - Named Pipes, имя\инстанс - Network)
ServerNameDeveloper = terminal-server-1.bordernetwork.vrn.skylink.local\sqldeveloper
ServerNameDeploy = terminal-server-1.bordernetwork.vrn.skylink.local\mssqlserver15
ServerNameRemote = data-server-1.bordernetwork.vrn.skylink.local

[DataBases]
# списки баз данных через запятую
AirLines =          AirLinesDBNew62
AirPorts =          AirPortsAndRoutesDBNew62
AirFlights =        AirFlightsDBNew62WorkBase, AirFlightsDBNew72WorkBase
AirCrafts =         AirCraftsDBValue62

[Paths]
# пути до файлов исходных данных и файлов журналов
pathToCSVFiles =
pathToTXTFiles = P:\\Programming\\Python Scripts\\LoadWorkData - GUIs and Utilities\\Журналы загрузок\\
pathToLogFiles = P:\\Programming\\Python Scripts\\LoadWorkData - GUIs and Utilities\\Протоколы загрузки\\
LogFileNameSuffix = _LoadLog.log
# фильтры
filterCSV = Data files (*.csv)
filterLOG = Log Files (*.txt *.text)

[ConstantParameters]
# основные значения
myOwnDevelopingVersion = 10.12
Density = 2
attemptRetryCount = 750
DebugLevel = yes

[UserLogins]
# учетные записи
Developer = Sergey
User1 = Teslikov_V
User2 = Hramushin
Users = Teslikov_V, Hramushin
